table, th, td {
    border: 1px solid black;
    text-align: center;
  }

  table {
    border-collapse: collapse;
    margin: 5px;
  }

  th, td {
    padding: 0px;
    margin: 0px;
  }

.header_row {
    color: whitesmoke;
    background-color: cadetblue;
}

.grid {
  display: grid;
  grid-template-columns: auto auto auto;
}

.full {
  color: black;
  background-color: white;
}

.empty {
  color: grey;
  background-color: grey;
}

.weekend {
  color: black;
  background-color: skyblue;
}

.year {
  color: whitesmoke;
  background-color: cadetblue;
  text-align: center;
}